/*min required layout*/

a {
    background: 0 0;
    /*color: #4183c4;*/
    text-decoration: none;
}

.ui.container {
    display: block;
    max-width: 100% !important;
}

.ui.fluid.container {
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.ui.menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 1rem 0em;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background: #FFFFFF;
    font-weight: normal;
    border: 1px solid rgba(34, 36, 38, 0.15);
    box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
    border-radius: 0.28571429rem;
    min-height: 2.85714286em;
}

.ui.menu:after {
    content: '';
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
}

.ui.menu:first-child {
    margin-top: 0rem;
}

.ui.menu:last-child {
    margin-bottom: 0rem;
}


/*--------------
    Sub-Menu
---------------*/

.ui.menu .item {
    position: relative;
    vertical-align: middle;
    line-height: 1;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: none;
    padding: 0.92857143em 1.14285714em;
    text-transform: none;
    color: rgba(0, 0, 0, 0.87);
    font-weight: normal;
    -webkit-transition: background 0.1s ease, box-shadow 0.1s ease, color 0.1s ease;
    transition: background 0.1s ease, box-shadow 0.1s ease, color 0.1s ease;
}

.ui.secondary.menu {
    background: none;
    margin-left: -0.35714286em;
    margin-right: -0.35714286em;
    border-radius: 0em;
    border: none;
    box-shadow: none;
}


/* Item */

.ui.secondary.menu .item {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    box-shadow: none;
    border: none;
    padding: 0.78571429em 0.92857143em;
    margin: 0em 0.35714286em;
    background: none;
    -webkit-transition: color 0.1s ease;
    transition: color 0.1s ease;
    border-radius: 0.28571429rem;
}

.ui.menu .item>img:not(.ui) {
    display: inline-block;
    vertical-align: middle;
    margin: -.3em 0;
    width: 2.5em;
}

.ui.menu:not(.vertical) .item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}


/*Basic layout*/

@media only screen and (max-width: 767px) {
    .ui.container {
        width: auto !important;
        margin-left: 1em !important;
        margin-right: 1em !important;
    }
}


/*mobile */


/*min required layout*/

.main-menu {
    padding: 8px;
    background-color: #800020;
    color: #FBFEF9;
}

.home-tab {
    background-color: #800020!important;
    top: -8px;
}

.homeImage {
    /*use flexbox*/
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./images/heroimage1.jpg);
    height: 67%;
    margin: 0 auto;
    left: 0;
    background-size: cover;
    position: relative;
    top: -14px;
    /* left: -92px; */
    background-attachment: fixed;
    /*ovverrides the segment styles*/
}

.centerAttraction {
    margin: auto;
    position: absolute;
    top: 20%;
}

.centerAttraction h2 {
    font-size: 37px;
    font-weight: 600;
    text-align: center;
    color: #800020;
}

.centerAttraction h3 {
    font-size: 29px;
    font-weight: 800;
    text-align: center;
    padding: 2em;
    color: white;
}

.recent-events-header {
    padding: 14px;
}

.recent-events-header>.ui.header {
    color: #800020;
}

.home-events-showcase {
    position: relative;
}


/*colored headers*/

.home-events-showcase .ui.cards>.teal.card>.content>.header {
    color: #009c95 !important;
}

.home-events-showcase .ui.cards>.blue.card>.content>.header {
    color: #2185D0 !important;
}

.home-events-showcase .ui.cards>.violet.card>.content>.header {
    color: #6435C9 !important;
}

.home-events-showcase .ui.cards>.green.card>.content>.header {
    color: #16ab39 !important;
}

.home-events-showcase .ui.cards>.yellow.card>.content>.header {
    color: #FBBD08 !important;
}

.home-events-showcase .ui.cards>.black.card>.content>.header {
    color: #27292a !important;
}


/*colored headers end*/

.home-events-showcase .ui.cards>.card>.content>.meta {
    /*color: #800020 !important;*/
    color: rgba(0, 0, 0, 0.8);
    font-size: 0.8em;
}

.centerAttraction .hometitles {
    margin: auto;
}

.hometitles {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 20px;
    background: darkslategrey;
    opacity: 0.8;
    color: white;
    padding: 4px;
}

.hometitles .title {
    align-self: center;
    position: relative;
    left: 37%;
    font-size: 24px;
    padding-top: 3px;
}

.hometitles .active .title {
    animation-name: fadeInDown;
    animation-delay: 200;
    animation-duration: 1s;
}

.hometitles .content {
    margin-top: 10px;
    max-width: 400px;
    font-size: 20px;
    text-align: center;
    padding: 5px;
}

.hometitles .active .content {
    animation-name: slideInUp;
    animation-delay: 300;
    animation-duration: 1.4s;
}

.home-events {
    position: relative !important;
    top: -105px;
}

.home-events .header {
    /*color: white !important;*/
    text-align: center;
}

.home-events .segment {
    border-left: none !important;
    max-width: 30%;
    margin-left: 20%;
}


/*ovverrite segments container backgorund color*/

.ui.segments>.segment {
    max-width: 30%;
    left: 19%;
}

.ui.horizontal.segments {
    /*background-color: rgba(0, 0, 0, 0.1) !important;*/
    border: none;
}

.ui.attached.segment {
    border: none !important;
}

.ui.inverted.attached.segment {
    border-color: none !important;
}


/*Recent events*/
