<div class="ui center aligned container about">


    <img src="images/iste-team.jpg" alt="" class="ui big centered  image">

    <p>
        The Indian Society for Technical Education is a national, professional, non-profit making Society registered under the Societies Registration Act of 1860. First started in 1941 as the Association of Principals of Technical Institutions (APTI), it was converted into "Indian Society for Technical Education" in 1968 with a view to enlarge its activities to advance the cause of technological education .The major objective of the ISTE is to assist and contribute in the production and development of top quality professional engineers and technicians needed by the industries and other organisations. Being the only national organisation of educators in the field of Engineering and Technology, ISTE effectively contributes in various missions of the Union Government.
 Every event organized brings opportunities for students to compete with their coevals in healthy spirit and become adept in what they are learning, helping them in accomplishing the ultimate goals of their lives.

    </p>
    <p class="">
The ISTE at GRIET  was started in the year 2004. The faculty , students  and management of GRIET took keen interest in establishing ISTE student chapter , GRIET . ISTE has been very active in promoting the ideals for which it was embarked. ISTE conducts various co-curricular activities which redress with the changing curriculum and educational processes. It has always tried to improve students' technical prowess, and bolster them to put their learning into practice.
    </p>
    <p>Every event organized brings opportunities for students to compete with their coevals in healthy spirit and become adept in what they are learning, helping them in accomplishing the ultimate goals of their lives.
</p>
</div>
</div>