
    <div class="move-25-right">

    
<div class="ui cards">
    <div class="card">
        <div class="content">

            <div class="header">
                Want to Reach us?
            </div>
            <div class="meta">
                ISTE GRIET SB
            </div>
            <div class="description">
                Just fill a short form and <b>submit</b> to us!
            </div>
        </div>
        <div class="extra content">
            <div class="ui two buttons">
                <a href="" class="ui basic blue button">Click here to fill</a>

            </div>
        </div>
    </div>

    <div class="card">
        <div class="content">

            <div class="header">
                Want to Volunteer for us!
            </div>
            <div class="meta">
                Volunteer

            </div>
            <div class="description">
                Just fill a short form and <b>submit</b> to us!
            </div>
        </div>
        <div class="extra content">
            <div class="ui two buttons">
                <a href="" class="ui basic blue button">Click here to fill</a>
            </div>
        </div>
    </div>
</div>
    
    
    </div>