
    <div class="contact-pad">

    
<div class="ui cards">
    <div class="card">
        <div class="content">

            <div class="header">
                Want to Reach us?
            </div>
            <div class="meta">
                ISTE GRIET SB
            </div>
            <div class="description">
                Just fill a short form and <b>submit</b> to us!
            </div>
        </div>
        <div class="extra content">
            <div class="ui two buttons">
                <a target="blank" href="https://docs.google.com/forms/d/1Dn_DpKfTQFsf2uNSSzrXNCYLaA5agjRY3EjdC9-hgL0/viewform" class="ui basic blue button">Click here to fill</a>

            </div>
        </div>
    </div>

    <div class="card">
        <div class="content">

            <div class="header">
                Want to Volunteer for us!
            </div>
            <div class="meta">
                Volunteer

            </div>
            <div class="description">
                Just fill a short form and <b>submit</b> to us!
            </div>
        </div>
        <div class="extra content">
            <div class="ui two buttons">
                <a target="blank" href="http://goo.gl/forms/a3NKMXoQAs" class="ui basic blue button">Click here to fill</a>
            </div>
        </div>
    </div>
</div>
    
    
    </div>