<div class="contact-pad">
	<div class="ui cards">
		<div class="card">
			<div class="content">

				<div class="header">
					Want to Reach us?
				</div>
				<div class="meta">
					ISTE GRIET SB
				</div>
				<div class="description">
					Just fill a short form and <b>submit</b> to us!
				</div>
			</div>
			<div class="extra content">
				<div class="ui two buttons">
					<a target="blank" href="https://docs.google.com/forms/d/1Dn_DpKfTQFsf2uNSSzrXNCYLaA5agjRY3EjdC9-hgL0/viewform" class="ui basic  button">Click here to fill</a>

				</div>
			</div>
		</div>

		<div class="card">
			<div class="content">

				<div class="header">
					Want to Volunteer for us!
				</div>
				<div class="meta">
					Volunteer

				</div>
				<div class="description">
					Just fill a short form and <b>submit</b> to us!
				</div>
			</div>
			<div class="extra content">
				<div class="ui two buttons">
					<a target="blank" href="http://goo.gl/forms/a3NKMXoQAs" class="ui basic  button">Click here to fill</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!--Contact pad end-->

<div class="contact-address">
	<!--<div class="ui horizontal stackable segments">

		<div class="ui segment">



		</div>
		<div class="ui segment">
			
		</div>
	</div>-->


	<div class="ui header center">
		<h3>Address & Location</h3>
	</div>
	<div class="ui stackable two column grid">
		<div class="column address-left">
			<div class="ui fluid card center">
				<div class="content ">
					<div class="header">
						Address
					</div>

					<div class="description  address">
						Survey No. 288, Nizampet-Bachupally Road, Bachupally, Kukatpally, Hyderabad, Telangana 500090
					</div>
				</div>

				<!--<div class="content">
					<div class="ui sub header">
						<a class="item" href="https://www.google.co.in/maps/place/Gokaraju+Rangaraju+Institute+of+Engineering+%26+Technology/@17.5203479,78.365226,17z/data=!3m1!4b1!4m5!3m4!1s0x3bcb91f76541dc95:0x54ab715fa4f2e735!8m2!3d17.5203479!4d78.3674147"><i class="icon-location"></i></a>
					</div>
				</div>-->
				<div class="content">
					<div class="address-contacts" style="text-align:justify !important">
						<div> <p class="ui label">Email</p> : grietiste@gmail.com </div>
						<div id="contactnumber"> <p class="ui label">Phone</p> : 7416866860  </div>
		
					</div>
				</div>
				<div class="content">
					<div class="ui sub header address-social-links">
						 <a class="item" href="https://www.facebook.com/ISTEGRIETSB/">Facebook <i class="icon-facebook"></i></a>
						 <a href="https://twitter.com/istegrietsb" class="item"> Twitter <i class="icon-twitter"></i></a>
						 <a href="https://www.instagram.com/istegrietsb/?hl=en" class="item">Instagram <i class="icon-instagram"></i></a>
					</div>
				</div>
			

				
				<!--<div class="content">
					<div class="ui sub header">
						More :asdasd
					</div>
				</div>
				<div class="content">
					<div class="ui sub header">
						More :asdasd
					</div>
				</div>-->

			</div>
		</div>
		<!--column1 end-->
		<div class="column address-right">
			<div class="ui fluid card">
				<div class="image">
					<img src="../images/logos/location.jpg" alt="location in maps">
				</div>
			</div>
		</div>
		<!--column 2 end-->
	</div>

</div>