<div class="ui fluid container" >


    <div class="homeImage">
        
    </div>

   


    <div class="ui horizontal segments home-events">
        <div class="ui segment ">
            <div class="ui header">Upcoming Events!</div>
            <div class="ui  tertiary attached   inverted  blue   segment"><a href="#/event/mela_main">MELA-The Tech Carnival</a></div>
            <div class="ui  tertiary  attached inverted   yellow  segment"><a href="#/event/Water_Level_Indicator">Technical Talk On 'Water Level Indicator'</a></div>
            <div class="ui  tertiary attached  inverted  blue   segment">asd</div>
            <div class="ui  tertiary attached inverted   yellow  segment">asdasd</div>
            <div class="ui bottom attached   grey info message">
                <i class="warning icon"></i> <a href="#/events">Click to see All Events!</a>
            </div>
        </div>


        <div class="ui segment">
            <div class="ui header">Recent Events!</div>
            <div class="ui  tertiary attached  inverted  blue   segment">asd</div>
            <div class="ui  tertiary attached inverted   yellow  segment">asdasd</div>
            <div class="ui  tertiary attached  inverted  blue   segment">asd</div>
            <div class="ui  tertiary attached inverted   yellow  segment">asdasd</div>
            <div class="ui bottom attached   grey info message">
                <i class="warning icon"></i> Click to see All Events!
            </div>
        </div>

    </div>


</div>