<div class="ui fluid container">


	<div class="homeImage">

		<div class="centerAttraction">
			<h2>Welcome to ISTE GRIET SB</h2>


			<h3>Our mission is to bring awareness about the developments in the field of science and technology to students.</h3>
			<!--<div class="hometitles">
				<div ng-class="{'active animated fadeIn':home.title1,'hide':home.hidetitle1}">
					<span class="title ">VISION</span>
					<div class="content">
						SOme awesome Content about our vision! SOme awesome Content about our vision! SOme awesome Content about our vision! SOme
						awesome Content about our vision! SOme awesome Content about our vision!
					</div>
				</div>
				<div ng-class="{'active animated fadeIn':home.title2,'hide':home.hidetitle2}">
					<span class="title">MISSION</span>
					<div class="content">
						To formulate the general goals & responsibilities of technical education.To adjust curriculum & educational processes to
						changing conditions.To develop effective teachers & educational administrators.

					</div>
				</div>
				<div ng-class="{'active animated fadeIn':home.title3,'hide':home.hidetitle3}">
					<span class="title">GOALS</span>
					<div class="content">
						SOme awesome Content about our goals! SOme awesome Content about our vision! SOme awesome Content about our vision! SOme
						awesome Content about our vision! SOme awesome Content about our vision!
					</div>
				</div>
			</div>-->

		</div>


	</div>




	<!--<div class="ui horizontal segments home-events">
		<div class="ui segment ">
			<div class="ui header">Upcoming Events!</div>
			<div class="ui  tertiary attached   inverted  blue   segment"><a href="#/event/mela_main">MELA-The Tech Carnival</a></div>
			<div class="ui  tertiary  attached inverted   yellow  segment"><a href="#/event/Water_Level_Indicator">Technical Talk On 'Water Level Indicator'</a></div>
			<div class="ui  tertiary attached   inverted  blue   segment"><a href="#/event/mela_main">MELA-The Tech Carnival</a></div>
			<div class="ui  tertiary  attached inverted   yellow  segment"><a href="#/event/Water_Level_Indicator">Technical Talk On 'Water Level Indicator'</a></div>
			<div class="ui bottom attached   grey info message">
				<i class="warning icon"></i> <a href="#/events">Click to see All Events!</a>
			</div>
		</div>


		<div class="ui segment ">
			<div class="ui header">Upcoming Events!</div>
			<div class="ui  tertiary attached   inverted  blue   segment"><a href="#/event/mela_main">MELA-The Tech Carnival</a></div>
			<div class="ui  tertiary  attached inverted   yellow  segment"><a href="#/event/Water_Level_Indicator">Technical Talk On 'Water Level Indicator'</a></div>
			<div class="ui  tertiary attached   inverted  blue   segment"><a href="#/event/mela_main">MELA-The Tech Carnival</a></div>
			<div class="ui  tertiary  attached inverted   yellow  segment"><a href="#/event/Water_Level_Indicator">Technical Talk On 'Water Level Indicator'</a></div>
			<div class="ui bottom attached   grey info message">
				<i class="warning icon"></i> <a href="#/events">Click to see All Events!</a>
			</div>
		</div>

	</div>-->

	<div class="" style="text-align:center;padding:14px;">
		<div class="ui header">Recent Events!</div>
	</div>
	<!--Recent events cards!!-->
	<div class="home-events-showcase">
		<div class="ui six stackable cards">

			<!--each card-->
			<div class="red card" data-href="#/event/industrial_visit_rttc">
				<div class="content">
					<div class="header">Industrial event</div>
					<div class="meta">10-MARCH-2016</div>
					<div class="description">
						A tour to Notre-Dame de paris.

					</div>
				</div>
				<div class="extra content">
					<p>Call : 74168686680</p>
					<p>
						<a href="https://www.facebook.com/">link</a>
					</p>

				</div>
			</div>

			<!--each card end-->

			<a class="orange card" href="#/event/fast_and_furious">
				<div class="content">
					<div class="header">Fast And Furious</div>
					<div class="meta">15-JULY-2016</div>
					<div class="description">
						This ain't that kind of movie bro.
					</div>
				</div>
			</a>
			<a class="purple card" href="#/event/Pic-O-mentry">
				<div class="content">
					<div class="header">Pic-O-mentry</div>
					<div class="meta">10-JAN-2016</div>
					<div class="description">
						Don't be writing a movie story fella.
					</div>
				</div>
			</a>
			<a class="yellow card" href="#/event/Digital_Marketing">
				<div class="content">
					<div class="header">Digital Marketing</div>
					<div class="meta">21-FEB-2016</div>
					<div class="description">
						Really?.
					</div>
				</div>
			</a>

			<a class="black card" href="#/event/Arduino_session">
				<div class="content">
					<div class="header">Arduino Session</div>
					<div class="meta">12-FEB-2016</div>
					<div class="description">
						Arduino changed the whole hardware eco-system by showing how real hardware works.
					</div>
				</div>
			</a>
			<a class="violet card" href="#/event/Membership_Drive_2015">
				<div class="content">
					<div class="header">Membership Drive</div>
					<div class="meta">31-OCT-2015</div>
					<div class="description">
						There ain't no place like this, come and see for yourself lads.
					</div>
				</div>
			</a>


		</div>
		<!--cards end-->
	</div>
	<!--Recent events cards endd!!-->






</div>