<div class="ui fluid container">


	<div class="homeImage">

		<div class="centerAttraction">
			<h2>Welcome to ISTE GRIET SB</h2>


			<h3>Our mission is to bring awareness about the developments in the field of science and technology to students.</h3>
			<!--<div class="hometitles">
				<div ng-class="{'active animated fadeIn':home.title1,'hide':home.hidetitle1}">
					<span class="title ">VISION</span>
					<div class="content">
						SOme awesome Content about our vision! SOme awesome Content about our vision! SOme awesome Content about our vision! SOme
						awesome Content about our vision! SOme awesome Content about our vision!
					</div>
				</div>
				<div ng-class="{'active animated fadeIn':home.title2,'hide':home.hidetitle2}">
					<span class="title">MISSION</span>
					<div class="content">
						To formulate the general goals & responsibilities of technical education.To adjust curriculum & educational processes to
						changing conditions.To develop effective teachers & educational administrators.

					</div>
				</div>
				<div ng-class="{'active animated fadeIn':home.title3,'hide':home.hidetitle3}">
					<span class="title">GOALS</span>
					<div class="content">
						SOme awesome Content about our goals! SOme awesome Content about our vision! SOme awesome Content about our vision! SOme
						awesome Content about our vision! SOme awesome Content about our vision!
					</div>
				</div>
			</div>-->

		</div>


	</div>




	<!--<div class="ui horizontal segments home-events">
		<div class="ui segment ">
			<div class="ui header">Upcoming Events!</div>
			<div class="ui  tertiary attached   inverted  blue   segment"><a href="#/event/mela_main">MELA-The Tech Carnival</a></div>
			<div class="ui  tertiary  attached inverted   yellow  segment"><a href="#/event/Water_Level_Indicator">Technical Talk On 'Water Level Indicator'</a></div>
			<div class="ui  tertiary attached   inverted  blue   segment"><a href="#/event/mela_main">MELA-The Tech Carnival</a></div>
			<div class="ui  tertiary  attached inverted   yellow  segment"><a href="#/event/Water_Level_Indicator">Technical Talk On 'Water Level Indicator'</a></div>
			<div class="ui bottom attached   grey info message">
				<i class="warning icon"></i> <a href="#/events">Click to see All Events!</a>
			</div>
		</div>


		<div class="ui segment ">
			<div class="ui header">Upcoming Events!</div>
			<div class="ui  tertiary attached   inverted  blue   segment"><a href="#/event/mela_main">MELA-The Tech Carnival</a></div>
			<div class="ui  tertiary  attached inverted   yellow  segment"><a href="#/event/Water_Level_Indicator">Technical Talk On 'Water Level Indicator'</a></div>
			<div class="ui  tertiary attached   inverted  blue   segment"><a href="#/event/mela_main">MELA-The Tech Carnival</a></div>
			<div class="ui  tertiary  attached inverted   yellow  segment"><a href="#/event/Water_Level_Indicator">Technical Talk On 'Water Level Indicator'</a></div>
			<div class="ui bottom attached   grey info message">
				<i class="warning icon"></i> <a href="#/events">Click to see All Events!</a>
			</div>
		</div>

	</div>-->

	<div class="recent-events-header center">
		<div class="ui header">Recent Events!</div>
	</div>
	<!--Recent events cards!!-->
	<div class="home-events-showcase">
		<div class="ui six stackable cards">

			<a class="teal card" href="#/event/code_auction">
				<div class="content">
					<div class="header">Code Auction</div>
					<div class="meta">28-SEPT-2016</div>
					<div class="description">
						Coding along with Auctioning is awesome. Dont trust us??? Ummm.. then you need to join with us in Code Auction.
					</div>
				</div>
				<!--<div class="extra content">
					<p>Call : 9700989085</p>
					
				</div>-->
			</a>

			
			
			<!--each card-->


			<a class="blue card" href="#/event/industrial_visit_rttc">
				<div class="content">
					<div class="header">Industrial Tour</div>
					<div class="meta">11-AUG-2016</div>
					<div class="description">
						Dont miss the wonderful opprtunity to witness the real time applications by RTTC BSNL.
					</div>
				</div>
				<!--<div class="extra content">
					<p>Call : 9700989085</p>
					<p>
						<a href="https://www.facebook.com/">link</a>
					</p>

				</div>-->
			</a>

			<!--each card end-->

			<a class="violet card" href="#/event/fast_and_furious">
				<div class="content">
					<div class="header">Fast And Furious</div>
					<div class="meta">15-JULY-2016</div>
					<div class="description">
						Hola Mechanical Engineers...! Add a desgin to your dream automobiles and make a difference. 
					</div>
				</div>
				<!--<div class="extra content">
					<p>Call : 9700989085</p>
					<p>
						<a href="https://www.facebook.com/">link</a>
					</p>

				</div>-->
			</a>
			<a class="green card" href="#/event/Pic-O-mentry">
				<div class="content">
					<div class="header">Pic-O-mentry</div>
					<div class="meta">25-FEB-2016 - 4-MARCH-2016</div>
					<div class="description">
						Wake up the creative writing skills in you,Choose a picture and show your skills. <br>Get your stories published in Metro India, The Hindhu<br>
						
					</div>
				</div>
				<!--<div class="extra content">
					<p>Call : 97000989085</p>
					<p>
						<a href="https://www.facebook.com/">link</a>
					</p>

				</div>-->
			</a>
			<a class="yellow card" href="#/event/Digital_Marketing">
				<div class="content">
					<div class="header">Digital Marketing</div>
					<div class="meta">13-FEB-2016</div>
					<div class="description">
					Well we here provides you with a platform to quench your thirst of curiosity with the digital marketing sessions!</p> 
					</div>
				</div>
				<!--<div class="extra content">
					<p>Call : 9908142041</p>
					<p>
						<a href="https://www.facebook.com/">link</a>
					</p>

				</div>-->
			</a>

			<a class="black card" href="#/event/Arduino_session">
				<div class="content">
					<div class="header">Arduino Session</div>
					<div class="meta">11-FEB-2016</div>
					<div class="description">
						Arduino changed the whole hardware eco-system by showing how real hardware works. Join and explore the arduino world. Free hands on Session. 
					</div>
				</div>
				<!--<div class="extra content">
					<p>Call : 9908142041</p>
					<p>
						<a href="https://www.facebook.com/">link</a>
					</p>

				</div>-->
			</a>
			


		</div>
		<!--cards end-->
	</div>
	<!--Recent events cards endd!!-->






</div>