<div class="width-control team team-top-section">

	<div class="ui segment">



		<p class="ui header center">ISTE GRIET SB</p>

		<p class="blockquote">
			When doodles meet canvas, we get an artist.<br> When the spirit meets the track, we get an athlete.<br> When science meets
			technology, we get an engineer.<br>
		</p>

		<p>
			Technology is a useful servant but a dangerous master and education is the most powerful weapon which we can use to change
			the world. And in this present day, we need the best of both worlds. We need a common platform for both technology and
			education to fuse and become technical education. Alas, a society was born. This is the Indian society for Technical Education
			aka ISTE.
			<p> ISTE is a national professional non profit making society for the technical education system in our country with the motto
				of career development of teachers and personality development of students and overall development of our technical education.
				But we at ISTE GRIET SB do not want to stop at our pre made agenda. So creativity and art are also a part of our activities
				as we believe that art challenges technology and technology inspires art. All in all, ISTE GRIET SB is the educational
				illuminati, the warden of knowledge and the pride for overall development. </p>
		</p>
	</div>
</div>

<div class="ui horizontal divider header">
	<div class="ui header">
		Team
	</div>
</div>

<div class="btn-center">
	<div class="ui large buttons">
		<button ng-click="team.btnclicked($event)" data-year="2016" class="ui blue basic button active team-year-btns">2016</button>
		<div class="or"></div>
		<button ng-click="team.btnclicked($event)" data-year="2015" class="ui blue basic button team-year-btns">2015</button>
	</div>
</div>


<div class="team-members">
	<div class="ui container">
		<!--<div class="ui six doubling cards">-->
		<div class="width-control-team-members">
			<div class="ui grid">
				<div class="doubling six column row">
					<div ng-repeat="teammember in team.names" class="column each-person">
						<img class="ui image" ng-src="{{teammember.imagedirectory}}{{teammember.image_src}}" alt="">
						<strong>{{teammember.name}} </strong>
						<small>{{teammember.role}} <a ng-href="{{teammember.fb_url}}" target="blank"> <i class="icon-facebook2"></i> </a></small>
					</div>

				</div>


			</div>
		</div>

		<!--</div>-->
	</div>