<div class="ui center aligned container">


    <img src="images/iste-team.jpg" alt="" class="ui big centered  image">

    <p>
        kjasd asd kaskld as dasd kjasd asd kaskld as dasd kjasd asd kaskld as dasd kjasd asd kaskld as dasd asdasdkasdas kjasd asd kaskld as dasd asdasdkasdas kjasd asd kaskld as dasd asdasdkasdas kjasd asd kaskld as dasd asdasdkasdas asdasdkasdas kjasd asd kaskld
        as dasd kjasd asd kaskld as dasd asdasdkasdas kjasd asd kaskld as dasd asdasdkasdas kjasd asd kaskld as dasd asdasdkasdas kjasd asd kaskld as dasd asdasdkasdas asdasdkasdas kjasd asd kaskld as dasd kjasd asd kaskld as dasd asdasdkasdas kjasd asd
        kaskld as dasd asdasdkasdas kjasd asd kaskld as dasd asdasdkasdas kjasd asd kaskld as dasd asdasdkasdas asdasdkasdas kjasd asd kaskld as dasd kjasd asd kaskld as dasd asdasdkasdas kjasd asd kaskld as dasd asdasdkasdas kjasd asd kaskld as dasd
        
    </p>
    <blockquote cite="" class="blockquote">
         asjdasd askdmasd
    </blockquote>
    <p> ahsdakds</p>
</div>
</div>