<div class="ui fluid container">


    <div class="homeImage">

        <div class="centerAttraction">
            <h2>Welcome to Iste</h2>
            <div class="hometitles">
                <div ng-class="{'active animated fadeIn':home.title1,'hide':home.hidetitle1}">
                    <span class="title ">VISION</span>
                    <div class="content">
                        SOme awesome Content about our vision! SOme awesome Content about our vision! SOme awesome Content about our vision! SOme awesome Content about our vision! SOme awesome Content about our vision!
                    </div>
                </div>
                <div ng-class="{'active animated fadeIn':home.title2,'hide':home.hidetitle2}">
                    <span class="title">MISSION</span>
                    <div class="content">
                        SOme awesome Content about our mission! SOme awesome Content about our vision! SOme awesome Content about our vision! SOme awesome Content about our vision! SOme awesome Content about our vision! SOme awesome Content about our vision!

                    </div>
                </div>
                <div ng-class="{'active animated fadeIn':home.title3,'hide':home.hidetitle3}">
                    <span class="title">GOALS</span>
                    <div class="content">
                        SOme awesome Content about our goals! SOme awesome Content about our vision! SOme awesome Content about our vision! SOme awesome Content about our vision! SOme awesome Content about our vision!
                    </div>
                </div>
            </div>

        </div>


    </div>




    <div class="ui horizontal segments home-events">
        <div class="ui segment ">
            <div class="ui header">Upcoming Events!</div>
            <div class="ui  tertiary attached   inverted  blue   segment"><a href="#/event/mela_main">MELA-The Tech Carnival</a></div>
            <div class="ui  tertiary  attached inverted   yellow  segment"><a href="#/event/Water_Level_Indicator">Technical Talk On 'Water Level Indicator'</a></div>
            <div class="ui  tertiary attached   inverted  blue   segment"><a href="#/event/mela_main">MELA-The Tech Carnival</a></div>
            <div class="ui  tertiary  attached inverted   yellow  segment"><a href="#/event/Water_Level_Indicator">Technical Talk On 'Water Level Indicator'</a></div>
            <div class="ui bottom attached   grey info message">
                <i class="warning icon"></i> <a href="#/events">Click to see All Events!</a>
            </div>
        </div>


        <div class="ui segment ">
            <div class="ui header">Upcoming Events!</div>
            <div class="ui  tertiary attached   inverted  blue   segment"><a href="#/event/mela_main">MELA-The Tech Carnival</a></div>
            <div class="ui  tertiary  attached inverted   yellow  segment"><a href="#/event/Water_Level_Indicator">Technical Talk On 'Water Level Indicator'</a></div>
            <div class="ui  tertiary attached   inverted  blue   segment"><a href="#/event/mela_main">MELA-The Tech Carnival</a></div>
            <div class="ui  tertiary  attached inverted   yellow  segment"><a href="#/event/Water_Level_Indicator">Technical Talk On 'Water Level Indicator'</a></div>
            <div class="ui bottom attached   grey info message">
                <i class="warning icon"></i> <a href="#/events">Click to see All Events!</a>
            </div>
        </div>

    </div>


</div>